<h1>Team Name: <%= @tean.name %></h1>
  <h2>Team Motto: <%= @team.motto %></h2>

  <h2>Hero Name: <%= @name[0] %></h2>
  <h3>Hero Power: <%= @power[0] %></h3>
  <h3>Hero Biography: <%= @bio[0] %></h3>

  <h2>Hero Name: <%= @name[1] %></h2>
  <h3>Hero Power: <%= @power[1] %></h3>
  <h3>Hero Biography: <%= @bio[1] %></h3>

  <h2>Hero Name: <%= @name[2] %></h2>
  <h3>Hero Power: <%= @power[2] %></h3>
  <h3>Hero Biography: <%= @bio[2] %></h3>
